@media only screen and (max-width: 320px) {

    .feature {

        &__container {
            display: flex;
            flex-direction: column;
        }
        &__label {
            color: #848484;
            margin: 5px 10px 40px 40px;
        }
        &__select {
            margin: 5px 0px 50px 38px;
        }

        select {
            outline: none;
            border: 1px solid #A8A8A8;
            border-radius: 19px;
            width: 249px;
            height: 40px;
            box-sizing: border-box;
            padding: 0px 1em 0px 2em;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 27px;
            background-color: transparent;
            color: #A8A8A8;
        }

        .illustrations {
            &__sunlight {
                width: 75px;
                height: 75px;
            }

            &__water {
                width: 103px;
                height: 75px;
            }

            &__pets {
                width: 75px;
                height: 62px;
            }
        }
    }

    .no-data {
        display: flex;
        flex-direction: column;
        height: 486px;
        background-color: #F2F2F2;
        align-items: center;

        &__title {
            width: 250px;
            height: 108px;
            margin: 47px 35px 0px 35px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            line-height: 55px;
            color: #A9A9A9;
        }

        &__subtitle {
            width: 219px;
            height: 81px;
            margin: 16px 64px 0px 37px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
            color: #A9A9A9;
        }

        &__placeholder {
            margin: 35px 0px
        }
    }
}

@media only screen and (min-width: 320px) {

    .feature {

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__label {
            color: #848484;
            margin: 5px 10px 40px 40px;
        }
        &__select {
            margin: 5px 0px 50px 38px;
        }

        select {
            outline: none;
            border: 1px solid #A8A8A8;
            border-radius: 19px;
            width: 249px;
            height: 40px;
            box-sizing: border-box;
            padding: 0px 1em 0px 2em;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 27px;
            background-color: transparent;
            color: #A8A8A8;
        }

        .illustrations {
            &__sunlight {
                width: 75px;
                height: 75px;
            }

            &__water {
                width: 103px;
                height: 75px;
            }

            &__pets {
                width: 75px;
                height: 62px;
            }
        }
    }

    .no-data {
        display: flex;
        flex-direction: column;
        height: 486px;
        background-color: #F2F2F2;
        align-items: center;

        &__title {
            width: 250px;
            height: 108px;
            margin: 47px 35px 0px 35px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            line-height: 55px;
            color: #A9A9A9;
        }

        &__subtitle {
            width: 219px;
            height: 81px;
            margin: 16px 64px 0px 37px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
            color: #A9A9A9;
        }

        &__placeholder {
            margin: 35px 0px
        }
    }
}
