@import '_hero';
@import '_feature';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.missing-value {
  border-color: red !important;
}