@import '_hero';
@import '_feature';
@import '_product';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.missing-value {
  border-color: red !important;
}

@media only screen and (max-width: 320px) {

  .btn {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    margin-bottom: 20px;
    position: absolute;
    
    &__home {
      text-decoration: none;
      border: 1px solid #15573F;
      box-sizing: border-box;
      border-radius: 25px;
      width: 282px;
      height: 50px;
      color: #196146;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      padding: 0px 50px 0px 50px;
    }

    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 320px) {

  .btn {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    margin-bottom: 20px;
    justify-content: center;
    
    &__home {
      text-decoration: none;
      border: 1px solid #15573F;
      box-sizing: border-box;
      border-radius: 25px;
      width: 282px;
      height: 50px;
      color: #196146;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      padding: 0px 50px 0px 50px;
    }
  
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
  }
}