@media only screen and (max-width: 320px) {

    .product {
        display: flex;
        flex-direction: column;
        height: 920px;
        background: #F2F2F2;
        align-items: center;

        &__pick {
            width: 146px;
            height: 72px;
            background: url('../images/illustrations/pick.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 35px;
        }

        &__text {
            width: 243px;
            height: 98px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            color: #0C261C;
            margin: 35px;
        }
    }   

    .cards {
        display: flex;
        flex-wrap: wrap;
        overflow-x: scroll;
    }

    .list {
        width: 258px;
        height: 321px;
        margin: 1rem;
        background: #FFFFFF;
        box-shadow: 0px 28px 38px rgba(0, 0, 0, 0.0925754);
        border-radius: 5px;

    
        .name {
            height: 74px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 37px;
            color: #1E6B4E;
        }
        .image {
            height: 353px;
            width: 299px;
            border-radius: 0px;                
        }
        .details {

        }
        .price {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #257556;
        }
        .info {

        }

        .rect {
            background: #75BC97;
            box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.181163);
        }
        &__favorite {
            height: 510px;
            width: 437px;
            border-radius: 5px;
        }
        &__image {
            border-radius: 0px;

        }
        &__name {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #1E6B4E;
            padding: 0px 0px 0px 20px
        }
        &__details {
            display: flex;
            justify-content: space-between;
        }
        &__price {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #257556;
            padding: 0px 0px 0px 20px
        }
        &__info {
            display: flex;
            padding: 0 10px 0px 0px;

            .icons {
                margin: 0px 5px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 320px) {

    .product {
        background: #F2F2F2;
        padding: 5px;

        &__pick {
            width: 146px;
            height: 72px;
            background: url('../images/illustrations/pick.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 35px;
        }
    
        &__text {
            width: 243px;
            height: 98px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            color: #0C261C;
            margin: 35px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            height: 920px;
            background: #F2F2F2;
            align-items: center;
        }
    }  
    .cards {
        display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list {
        margin: 1rem;
        background: #FFFFFF;
        box-shadow: 0px 28px 38px rgba(0, 0, 0, 0.0925754);
        border-radius: 5px;

        .name {
            height: 74px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 37px;
            color: #1E6B4E;
        }
        .image {
            height: 353px;
            width: 299px;
            border-radius: 0px;                
        }
        .details {

        }
        .price {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #257556;
        }
        .info {

        }

        .rect {
            background: #75BC97;
            box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.181163);
        }
        &__favorite {
            height: 510px;
            width: 437px;
            border-radius: 5px;
        }
        &__image {
            border-radius: 0px;

        }
        &__name {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #1E6B4E;
            padding: 0px 0px 0px 20px
        }
        &__details {
            display: flex;
            justify-content: space-between;
        }
        &__price {
            height: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #257556;
            padding: 0px 0px 0px 20px
        }
        &__info {
            display: flex;
            padding: 0 10px 0px 0px;

            .icons {
                margin: 0px 5px 0px 0px;
            }
        }
    }
}